*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(aliceblue, #333);
}

.container {
    position: relative;
    background-color: #000;
    width: 295px;
    height: 70vh;
    border: 2px solid #000;
    border-radius: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    box-shadow: 0 1vw 1vw rgba(0, 0, 0, 1);
}

#input-el{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1em;
    border: 2px solid #000;
    font-size: 1.5em;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    margin: auto;
    grid-column: 1/-1;
    background-color: #fff;
    width: 100%;
    height: 100%;
    word-break: break-word;
}

button{
    color: #fff;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 900;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    border-radius: 50%;

}

button:hover,
#clear-el:hover,
#divide-el:hover,
#multiply-el:hover,
#minus-el:hover,
#plus-el:hover,
#openParenthesis:hover,
#closedParenthesis:hover,
#decimal-el:hover,
#del-el:hover{
    background-color: darkorange;
    color: #000;
}

#clear-el{
    color: darkorange;
    background-color: transparent;
    font-size: 1em;
}

#num0{
    grid-column: 2/3;
}

#divide-el{
    color: darkorange;
    background-color: transparent;
    font-size: 1.5em;
}

#equal-el{
    color: #000;
    background-color: darkorange;
    font-size: 1.5em;
    grid-column: 4/5;
    grid-row: 6/7;
    transition: all 0.5s ease 0s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
#equal-el:hover{
    animation: equalHover 1s ease 0s infinite forwards;
}
@keyframes equalHover {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

#multiply-el{
    color: darkorange;
    background-color: transparent;
    font-size: 2em;
}

#minus-el{
    color: darkorange;
    background-color: transparent;
    font-size: 2em;
}

#plus-el{
    color: darkorange;
    background-color: transparent;
    font-weight: 600;
    font-size: 2em;
}

#openParenthesis{
    color: darkorange;

    background-color: transparent;
    font-size: 1.5em;
    grid-row: 6/7;
}

#closedParenthesis{
    color: darkorange;

    background-color: transparent;
    font-size: 1.5em;
}

#decimal-el{
    color: darkorange;

    background-color: transparent;
    font-size: 1em;
}

#del-el{
    color: darkorange;
    font-size: 1em;
    background-color: transparent;
}

@media screen and (min-width: 720px) {
    .container{
        width: 400px;
        height: 550px;
    }
}